[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scapy = "*"
prettytable = "*"
requests = "*"
pyyaml = "*"
plotly = "*"
termcolor = "*"

[requires]
python_version = "3.7"
